/* style.css */
body {
    font-family: Futura;
    background-color: #fff6ee;
    text-align: center;
}

.navbar {
    background-color: #206246 !important; 
}

.navbar-brand {
    /*font-weight: bold;*/
    color: #fff !important;
    font-size: 300%;
}

/* .navbar a:hover {
    color: #000 !important;
    background-color:  #33a171 !important;
    border-radius: 50%;
} */

.dropdown-menu {
    margin: auto;
    /*background-color: #edd2c9 !important;*/
}

/* .dropdown-item {
    color: #fff !important;
} */

.dropdown-item:hover {
    background-color: #0056b3 !important;
}

.box{
    text-align: center;
    background-color: #fff6ee;
    /* background-color: #882323;
    border: 4px solid #000;
    background-color: rgb(30, 148, 163); */
}

/* .underline-text{
    font-size: 20px;
    text-decoration: underline;
} */

.image-carousel .carousel-item img {
    max-height: 80vh;
    border-radius: 5%; 
    border: 1px solid #ccc;
    object-fit: contain;
    background-color: #fff;
    /*box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);*/
}

.image-rounded{
    max-height: 80vh;
    width: 100%;     
    display: block;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 5%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    border: 1px solid #ccc;
    transition: transform 0.5s;
}

.image-rounded:hover {
    transform: translateY(5px);
}

.container-map{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 5px;
}

.container-maps{ 
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


/* Clases especificas */

/*Select container*/

.grid-select-container{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-areas: 'title' 
                            'buttons';
}

/* Título */
.title{
    grid-area: title;
    margin-top: 100%;
    font-size: 150%;
}

/* Contenedor para los botones */
.buttons-wrapper {
    grid-area: buttons;
    display: grid;
    grid-template-areas: 'button1 button2';
    grid-template-columns: 50% 50%;
}

/* Estilo individual de los botones */
.button1-container {
    grid-area: button1;
}

.button2-container {
    grid-area: button2;
}

.button {
    width: 50%;  
    height: 100%;
    font-size: 150%; 
}

/* Experiment container */

.gid-experiment-container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-areas: 'title' 
                            'grid-selecetors-container'
                            'button-container';
    grid-template-rows: auto 90% auto;
}

.title{
    grid-area: title;
    margin-top: 3%;
    font-size: 150%;
}

/* Contenedor de grid para las filas */
.grid-selecetors-container {
    grid-area: grid-selecetors-container;
    width: 100%;
    justify-self: center;
    display: grid;
    grid-template-areas: 'row1' 
                            'row2' 
                            'row3' 
                            'row4' 
                            'row5';
    grid-template-rows: auto auto auto auto auto;
}

/* Estilo para cada fila (selector, dropdown, input) */
.grid-row-container {
    display: grid;
    padding: 0 1%;
    margin: 0.7% 0;
    grid-template-areas: 'selector row-label dropdown input';  /* Cuatro áreas: selector, row-label, dropdown, input */
    grid-template-columns: 20% 20% 40% 20%;  /* Cuatro columnas: selector, row-label, dropdown, input */
}

/* Estilo para el selector */
.selector {
    justify-self: start;  
    width: 100%;
}

/* Estilo para el row-label */
.row-label {
    justify-self: start;  /* Alinea el dropdown al inicio de la segunda columna */
}

/* Estilo para el dropdown */
.dropdown {
    justify-self: start;  /* Alinea el dropdown al inicio de la segunda columna */
    width: 100%;
}

/* Estilo para el input */
.input {
    justify-self: center;
    width: 100%;
}

/* Contenedor para el botón de ejecución */
.button-container {
    text-align: center;
}

/* Estilo para el botón */
.execute-button {
    width: 50%;
    height: 120%;
}

hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 0.7% 0;
}

/* Zero container */

.grid-zero-container{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-areas: 'title' 
                            'grid-data-container'
                            'output';
    grid-template-rows: auto 90% auto;
}

.title{
    grid-area: title;
    margin-top: 3%;
}

.output{
    grid-area: output;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
}

.grid-data-container{
    grid-area: grid-data-container;
    height: 100%;
    width: 50%;
    margin-left: 25%;
    margin-top: 6%;
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.4);
    /* background-color: #d3cdc7; */
    display: grid;
    grid-template-areas: 'file file' 
                            'number number'
                            'button1 button2';
    grid-template-rows: auto auto auto;
    grid-template-columns: 50% 50%;
}

.inputfile{
    grid-area: file;
    margin-top: 2%;
    margin-bottom: 2%;
}

.file-upload{
    width: 50%;
    border: 1px solid #000;
    border-Radius: 5px; 
} 

/* .file-upload{
    width: 50%;
    border: 1px dashed #000;
    border-Radius: 5px; 
    text-Align: center;
    padding: 12px 20px;
    margin: 0 auto;
    display: block;
    background-color: #fff;
} */

.inputnumber{
    grid-area: number;
    width: 100%;
    padding: 12px 20px;
    margin: 0 auto;
    display: block;
}

.number-input{
    width: 50%;
    border: 1px solid #000;
    border-radius: 6px;
}

.buttonsconfirm{
    grid-area: button1;
    margin-top: 3%;
    margin-bottom: 3%;
}

.buttonsdefault{
    grid-area: button2;
    margin-top: 3%;
    margin-bottom: 3%;
}



/* Main container */

.grid-main-container{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-areas: 'header-navbar' 
                            'main-contaner';
    grid-template-rows: auto 90%;
}

.header-navbar{
    grid-area: header-navbar;
}

.navbar-text{
    width: 100%;
    color: white;
    align-content: center;
}

.navbar-text-title{
    color: white;
    font-size: 300%;
}

.main-container{
    grid-area: main-contaner;
}

/* Home page */

.grid-home-container{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-areas:  'menu3 menu4'
                            'maps maps';
    grid-template-rows: 7% auto;
    grid-template-columns: 50% 50%;
}

.menu3{
    margin-top: 5px;
    margin-bottom: 5px;
    grid-area: menu3;
}
.menu4{
    margin-top: 5px;
    margin-bottom: 5px;
    grid-area: menu4;
}

.maps{
    grid-area: maps;
}

/* Compratator page */

.grid-compratator-container{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-areas: 'menu1 menu2' 
                            'map1 map2';
    grid-template-rows: 7% auto;
    grid-template-columns: 50% 50%;
}

.menu1{
    margin-top: 5px;
    margin-bottom: 5px;
    grid-area: menu1;
}
.menu2{
    margin-top: 5px;
    margin-bottom: 5px;
    grid-area: menu2;
}

.map1{
    grid-area: map1;
}

.map2{
    grid-area: map2;
}

.container{
    display: 'block';
    margin-left: 'auto';
    margin-right: 'auto';
}