/* style.css */
body {
    font-family: Futura;
    background-color: #fff6ee;
    text-align: center;
}

.navbar {
    background-color: #206246 !important; 
}

.navbar-brand {
    /*font-weight: bold;*/
    color: #fff !important;
    font-size: 300%;
}

.dropdown-menu {
    margin: auto;
    /*background-color: #edd2c9 !important;*/
}

/* .dropdown-item {
    color: #fff !important;
} */

.dropdown-item:hover {
    background-color: #0056b3 !important;
}

.box{
    text-align: center;
    background-color: #fff6ee;
    /* background-color: #882323;
    border: 4px solid #000;
    background-color: rgb(30, 148, 163); */
}

/* Clases especificas */

/* Main container */

.grid-main-container{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-areas: 'header-navbar' 
                            'main-contaner';
    grid-template-rows: auto 90%;
}

.header-navbar{
    grid-area: header-navbar;
}

.navbar-text{
    width: 100%;
    color: white;
    align-content: center;
}

.navbar-text-title{
    color: white;
    font-size: 300%;
}

.main-container{
    grid-area: main-contaner;
}

/* Home page */

.grid-home-container{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-areas:  'menu3 menu4'
                            'maps maps';
    grid-template-rows: 7% auto;
    grid-template-columns: 50% 50%;
}

.menu3{
    margin-top: 5px;
    margin-bottom: 5px;
    grid-area: menu3;
}
.menu4{
    margin-top: 5px;
    margin-bottom: 5px;
    grid-area: menu4;
}

.maps{
    grid-area: maps;
}

/* Compratator page */

.grid-compratator-container{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-areas: 'menu1 menu2' 
                            'map1 map2';
    grid-template-rows: 7% auto;
    grid-template-columns: 50% 50%;
}

.menu1{
    margin-top: 5px;
    margin-bottom: 5px;
    grid-area: menu1;
}
.menu2{
    margin-top: 5px;
    margin-bottom: 5px;
    grid-area: menu2;
}

.map1{
    grid-area: map1;
}

.map2{
    grid-area: map2;
}

.container{
    display: 'block';
    margin-left: 'auto';
    margin-right: 'auto';
}