train_data
train.csv
# auxilary_data
*.png

# *.txt
table_clusters_trayectorias.txt
table_relaciones.txt
table_clusters.txt
dataset_TSMC2014_NYC.txt
algorithm_parameters.txt

*.html
# *.jpg
Mapa_trayectorias_filtrado_100000filas_8min.JPG
Mapa_trayectorias_filtrado_100000filas_oporto.JPG
Prueba_algoritmos.ipynb
Prueba_rendimiento.ipynb
Prueba_distancias.ipynb
Prueba_vectorizacion.ipynb
TRACLUS_2.py
TRACLUS_3.py
__init__.py
# Estrustura final
*.pyc
