/* style.css */
body {
    font-family: italic;
    background-color: #fff6ee;
    text-align: center;
}

.navbar {
    background-color: #206246 !important; 
}

.navbar-brand {
    color: #fff !important;
}

.image-carousel .carousel-item img {
    max-height: 80vh;
    border-radius: 5%; 
    border: 1px solid #ccc;
    object-fit: contain;
    background-color: #fff;
}

.image-rounded{
    max-height: 80vh;
    width: 100%;     
    display: block;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 5%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    border: 1px solid #ccc;
    transition: transform 0.5s;
}

.image-rounded:hover {
    transform: translateY(5px);
}

.container-map{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 5px;
}

.container-maps{ 
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* Main container */

.grid-main-container{
    display: grid;
    grid-template-areas: 'header-navbar' 
                            'main-contaner';
    grid-template-rows: auto auto;
}

.navbar-container{
    grid-area: header-navbar;
}

.navbar-text{
    color: white;
    align-content: center;
}

.navbar-text-title{
    color: white;
    font-size: 200%;
}

.page-content{
    grid-area: main-contaner;
}

/* Clases especificas */

/*Select container*/

.grid-select-container{
    display: grid;
    grid-template-areas: 'title' 
                            'buttons';
    grid-template-rows: auto auto;
}

.select-title{
    grid-area: title;
    margin-top: 1%;
    margin-bottom: 1%;
}

.main-title{
    font-size: 500%;
    font-weight: bold;
}

/* Contenedor para los botones */
.buttons-wrapper {
    grid-area: buttons;
    display: grid;
    grid-template-areas: 'button1 button2';
    grid-template-columns: auto 40%;
}

/* Estilo individual de los botones */
.button1-container {
    grid-area: button1;
    background-image: url('./images/mapa-por.jpg') !important;
    background-size: cover; /* Cambia 'cover' a 'contain' */
    background-repeat: no-repeat;
    background-position: center;
    height: 600%;
    display: grid;
    grid-template-areas: 'dropdown-experiment'
                            'button-select';
    grid-template-rows: auto auto;
}

.dropdown-experiment {
    grid-area: dropdown-experiment;
}

.button1-select-container {
    grid-area: button-select;
    display: grid;
    grid-template-areas: 'button1-load button1-delete';
}

.button1-load {
    grid-area: button1-load;
    height: 40%;
    margin-right: 10%;
    justify-self: center;
}

.button1-delete {
    grid-area: button1-delete;
    height: 40%;
    margin-left: 10%;
    justify-self: center;
}

.button2-container {
    grid-area: button2;
    background-image: url('./images/output2.jpg') !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 600%;
    display: flex;
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Centra horizontalmente */
}

.button2 {
    justify-self: center;
    height: 20%;
}

/* Experiment container */

.gid-experiment-container {
    display: grid;
    grid-template-areas: 'title' 
                            'grid-selecetors-container'
                            'button-container';
    grid-template-rows: auto 90% auto;
}

.experiment-title{
    grid-area: title;
    margin-top: 1%;
    font-size: 150%;
}

/* Contenedor de grid para las filas */
.grid-selecetors-container {
    grid-area: grid-selecetors-container;
    width: 100%;
    justify-self: center;
    display: grid;
    grid-template-areas: 'row1' 
                            'row2' 
                            'row3' 
                            'row4' 
                            'row5';
    grid-template-rows: auto auto auto auto auto;
}

/* Estilo para cada fila (selector, dropdown, input) */
.grid-row-container {
    grid-area: row1, row2;
    display: grid;
    padding: 0 1%;
    margin: 0.7% 0;
    grid-template-areas: 'selector row-label dropdown1 dropdown2 input1 input2';  /* Cuatro áreas: selector, row-label, dropdown, input */
    grid-template-columns: 5% 13% auto auto auto;  /* Cuatro columnas: selector, row-label, dropdown, input */
}

/* Estilo para el selector */
.selector {
    justify-self: start;  
    width: 100%;
}

/* Estilo para el row-label */
.row-label {
    justify-self: start;  /* Alinea el dropdown al inicio de la segunda columna */
}

/* Estilo para el dropdown */
.dropdown {
    justify-self: start;  /* Alinea el dropdown al inicio de la segunda columna */
    width: 100%;
}

/* Estilo para el input */
.input {
    justify-self: center;
    width: 100%;
}

/* Contenedor para el botón de ejecución */
.button-container {
    text-align: center;
}

/* Estilo para el botón */
.execute-button {
    width: 50%;
    height: 120%;
}

hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 0.7% 0;
}

/* dataUpdate container */

.grid-dataupdate-container{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-areas: 'title' 
                            'grid-data-container'
                            'output';
    grid-template-rows: auto 90% auto;
}

.title{
    grid-area: title;
    margin-top: 3%;
}

.output{
    grid-area: output;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
}

.grid-data-container{
    grid-area: grid-data-container;
    height: 100%;
    width: 50%;
    margin-left: 25%;
    margin-top: 3%;
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.4);
    display: grid;
    grid-template-areas: 'text text'
                            'file file' 
                            'number number'
                            'button_load button_load';
    grid-template-rows: auto auto auto;
    grid-template-columns: 50% 50%;
}

.inputtext{
    grid-area: text;
    margin-top: 2%; 
}

.name-input{
    width: 50%;
    border: 1px solid #000;
    border-radius: 5px;
}

.inputfile{
    grid-area: file;
    margin-top: 1%;
    margin-bottom: 1%;
}

.file-upload{
    width: 50%;
    border: 1px solid #000;
    border-Radius: 5px; 
} 

.inputnumber{
    grid-area: number;
    width: 100%;
    padding: 12px 20px;
    margin: 0 auto;
    display: block;
}

.number-input{
    width: 50%;
    border: 1px solid #000;
    border-radius: 6px;
}

.buttonsconfirm{
    grid-area: button_load;
    margin-top: 3%;
    margin-bottom: 3%;
}

/* Map page page */

.grid-map-container{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-areas:  'maps maps';
    grid-template-columns: 50% 50%;
}

.maps{
    grid-area: maps;
    margin-top: 2%;
}

/* Compratator page */

.grid-compratator-container{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-areas: 'menu1 menu2' 
                            'map1 map2';
    grid-template-rows: 7% auto;
    grid-template-columns: 50% 50%;
}

.menu1{
    margin-top: 5px;
    margin-bottom: 5px;
    grid-area: menu1;
}
.menu2{
    margin-top: 5px;
    margin-bottom: 5px;
    grid-area: menu2;
}

.map1{
    grid-area: map1;
}

.map2{
    grid-area: map2;
}

.container{
    display: 'block';
    margin-left: 'auto';
    margin-right: 'auto';
}