/* Style */

/* Global styles */     
body {
    font-family: Arial;
    background-color: #fff6ee;
    text-align: center;
}

/* Navbar styles */
.navbar {
    background-color: #206246 !important; 
}

.navbar-brand {
    color: #fff !important;
}

/* Carousel styles */
.image-carousel .carousel-item img {
    max-height: 80vh;
    border-radius: 5%; 
    border: 1px solid #ccc;
    object-fit: contain;
    background-color: #fff;
}

/* Image rounded styles */
.image-rounded{
    max-height: 80vh;
    width: 100%;     
    display: block;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 5%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    border: 1px solid #ccc;
    transition: transform 0.5s;
}

.image-rounded:hover {
    transform: translateY(5px);
}

/* Image styles */
.container-map{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 5px;
}

.container-maps{ 
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* General Button Styles */
.btn {
    background-color: rgb(255, 255, 255);
    color: #000000;
    border: 2px solid #000000;
    cursor: pointer;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.8);
    border-radius: 100px;
    transition: 
        transform 0.3s ease,        /* Smooth elevation transition */
        box-shadow 0.3s ease,       /* Smooth shadow transition */
        background-color 0.3s ease, /* Smooth background color transition */
        color 0.3s ease;
    padding: 10px 30px;
    display: inline-block;
    text-align: center;
}

.btn:hover {
    transform: translateY(-5px);
    box-shadow: 0px 12px 15px rgba(0, 0, 0, 0.4);
    color: white;
}

/* Modals Styles */

.modal-header {
    font-size: 1.2rem;
    font-weight: bold;
}

.modal-body {
    font-size: 1rem;
}

/* Navbar Button Styles */

.btn-download {
    background-color: #206246;
    color: white;
    border: 2px solid #206246;
}

/* Main Container for Layout */

.grid-main-container{
    display: grid;
    grid-template-areas: 'header-navbar' 
                            'main-contaner';
    grid-template-rows: auto auto;
}

.navbar-container{
    grid-area: header-navbar;
}

.navbar-text{
    color: white;
    align-content: center;
}

.navbar-text-title{
    color: white;
    font-size: 200%;
}

.page-content{
    grid-area: main-contaner;
}

/* Select Container Layout */

.grid-select-container{
    display: grid;
    grid-template-areas: 'title' 
                            'buttons';
    grid-template-rows: auto auto;
}

.select-title{
    grid-area: title;
    margin-top: 1%;
    margin-bottom: 1%;
}

.main-title{
    font-size: 500%;
    font-weight: bold;
}

.buttons-wrapper {
    grid-area: buttons;
    display: grid;
    grid-template-areas: 'button1 button2';
    grid-template-columns: auto 40%;
}

.button1-container {
    grid-area: button1;
    position: relative;
    height: 600%;
    display: grid;
    grid-template-areas: 'dropdown-experiment'
                            'button-select';
    grid-template-rows: auto 63%;
}

.button1-container::before {
    grid-area: button1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('./images/Map_load.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.7; 
    z-index: -1;
}

.dropdown-experiment {
    grid-area: dropdown-experiment;
    background-color: #ffffff;
    border: 2px solid #000000;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.8); 
    color: #000000;
    transition: all 0.2s ease;
    cursor: pointer;
}

.button1-select-container {
    grid-area: button-select;
    display: grid;
    grid-template-areas: 'button-load button-delete';
}

.btn-load{
    grid-area: button-load;
    height: 40%;
    margin-right: 10%;
    justify-self: center;
}

.btn-delete {
    grid-area: button-delete;
    height: 40%;
    margin-right: 10%;
    justify-self: center;
}

.button2-container {
    grid-area: button2;
    position: relative;
    height: 600%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button2-container::before {
    grid-area: button2;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('./images/Map_create.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.7; 
    z-index: -1;
}

.btn-new{
    width: 40%;
    height: 25%;
    margin-right: 10%;
    justify-self: center;
}

/* Experiment Page Layout */

.gid-experiment-container {
    display: grid;
    grid-template-areas: 'title' 
                            'grid-selecetors-container'
                            'button-container';
    grid-template-rows: auto 1fr auto;
    row-gap: 1.5rem;
}

.experiment-title{
    grid-area: title;
    margin-top: 1%;
    font-size: 1.5rem;
    text-align: center;
}

.grid-selecetors-container {
    grid-area: grid-selecetors-container;
    width: 100%;
    justify-self: center;
    display: grid;
    grid-template-areas: 'row1' 
                            'row2' 
                            'row3' 
                            'row4' 
                            'row5';
    grid-template-rows: auto auto auto auto auto;
}

.grid-row-container {
    grid-area: row1, row2;
    display: grid;
    padding-left: 1%;
    padding-right: 6%;
    margin: 0.5% 0;
    grid-template-areas: 'selector row-label dropdown1 dropdown2 input1 input2';
    grid-template-columns: 5% 13% 16% 16% 25% 25%;
    gap: 1%;
}

.selector {
    justify-self: center;
    width: 1.5rem; /* Adjusted size for checkbox */
    height: 1.5rem;
    cursor: pointer; /* Changes cursor to pointer for better UX */
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: all 0.3s ease;
}

.selector:hover {
    border-color: #000;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.row-label {
    justify-self: start; 
    font-weight: bold;
    font-size: 95%;
}

.dropdown {
    justify-self: start;
    width: 100%;
}

.input {
    justify-self: center;
    width: 100%;
    padding: 0.4rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

.button-container {
    text-align: center;
}

.bnt-execute {
    width: 30%;
    height: 100%;
    justify-self: center;
}

hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 1rem 0;
}

/* Data Update Container Layout */

.grid-dataupdate-container {
    display: grid;
    grid-template-areas: 
        'title' 
        'grid-data-container'
        'output';
    grid-template-rows: auto 90% auto;
}

.title {
    grid-area: title;
    text-align: center;
    margin-top: 1%;
    margin-bottom: 1%;
}

.grid-data-container {
    grid-area: grid-data-container;
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    /*background-color: #fff;*/
    border: 1px solid #ddd; /* Borde sutil */
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4); /* Sombra suave */
    display: grid;
    grid-template-areas: 
        'text'
        'file' 
        'number'
        'button_load';
    grid-template-rows: auto auto auto auto;
}

.inputtext, .inputfile, .inputnumber {
    width: 100%;
}

.name-input, .number-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc; /* Borde sutil */
    border-radius: 4px;
    box-sizing: border-box;
}

.inputfile .file-upload {
    width: 100%;
    padding: 10px;
    border: 1px dashed #aaa; /* Borde diferenciado */
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    background-color: #f5f5f5;
}

.btn-confirm {
    grid-area: button_load;
    width: 40%;
    text-align: center;
}

.output {
    grid-area: output;
    margin-top: 1%;
}

/* Map Container Layout */

.grid-map-container{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-areas:  'maps maps';
    grid-template-columns: 50% 50%;
}

.maps{
    grid-area: maps;
    margin-top: 2%;
}

/* Comparator Container Layout */

.grid-compratator-container{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-areas: 'menu1 menu2' 
                            'map1 map2';
    grid-template-rows: 10% auto;
    grid-template-columns: 50% 50%;
}

.menu1{
    grid-area: menu1;
    margin-top: 1%;
    margin-bottom: 0.7%;
}

.menu2{
    grid-area: menu2;
    margin-top: 1%;
}

.map1{
    grid-area: map1;
}

.map2{
    grid-area: map2;
}

.container{
    display: 'block';
    margin-left: 'auto';
    margin-right: 'auto';
}